{
    "extends": "airbnb",
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "comma-dangle": ["off"],
        "import/no-dynamic-require": ["off"],
        "no-bitwise": ["off"],
        "no-console": ["off"],
        "no-param-reassign": ["off"],
        "max-len": ["off"],
        "no-plusplus": ["off"],
        "no-restricted-syntax": ["off"],
        "no-prototype-builtins": ["off"]
    }
}