
/**
 * Base
 */
html,
body {
    height: 100%;
}
body {
    background-color: #1a1a1a;
    border-left: 2px solid #444;
    border-right: 2px solid #444;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
}
body:before,
body:after {
    content: "";
    position: fixed;
    background: #444;
    left: 0;
    right: 0;
    height: 2px;
}
body:before {
    top: 0;
}
body:after {
    bottom: 0;
}
a {
    color: #F5FF63;
}
a:hover, a:focus, a:visited {
  color: #D698F7;
  border-bottom: 1px solid currentColor;
  text-decoration: none;
  transition: all .2s ease;
}
/**
 * Window buttons: minimize, maximize and close.
 */
 .window_settings {
     float: right;
 }
.app-buttons {
    width: 30px;
    height: 30px;
    background-size: 26px;
    background-color: transparent;
    background-position: 50%;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    opacity: .6;
    padding: 0;
    border: 0;
}
.app-version {
    display: block;
    float: left;
    margin-top: 5px;
    margin-right: 5px;
    color: rgba(198, 198, 198, 0.34);
}
.win-minimize {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNiIgaGVpZ2h0PSIyNiI+CiAgPGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgIDxwYXRoIGZpbGw9IiNGRkYiIGQ9Ik0xOSAxOXYtMkg3djJoMTJ6Ii8+CiAgICA8cGF0aCBkPSJNMSAyNWgyNFYxSDF2MjR6Ii8+CiAgPC9nPgo8L3N2Zz4=);
}
.win-close {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNiIgaGVpZ2h0PSIyNiI+CiAgPGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgIDxwYXRoIGQ9Ik0xIDFoMjR2MjRIMVYxeiIvPgogICAgPHBhdGggZmlsbD0iI0ZGRiIgZD0iTTIwIDcuNDFMMTguNTkgNiAxMyAxMS41OSA3LjQxIDYgNiA3LjQxIDExLjU5IDEzIDYgMTguNTkgNy40MSAyMCAxMyAxNC40MSAxOC41OSAyMCAyMCAxOC41OSAxNC40MSAxMyAyMCA3LjQxeiIvPgogIDwvZz4KPC9zdmc+);
}
.app-buttons:hover {
    opacity: 1;
}

/**
 * Layout
 */
 .container-fluid {
   padding-right: 0;
   padding-left: 0;
 }
 .panel {
     background-color: transparent;
     color: #c6c6c6;
     border-color: #1f1f1f;
     border: 0;
     box-shadow: none;
 }
 .panel-default > .panel-heading {
     background: none;
     border: none;
     padding: 0;
 }
.tab-content {
    padding-left: 0;
    padding-top: 10px;
}

/******************
 * Menu buttons
 *****************/
 .btn {
   font-size: 15px;
 }
 .btn-group-vertical>.btn, .btn-group > .btn {
     width: 25.11111111%;
     background: none;
     color:  #c3c3c3;
     border: 1px solid #222;
     border-bottom: 2px solid #222;
     border-radius: 0px;
 }
 .btn-group-vertical > .btn:hover, .btn-group > .btn:hover, .btn.active {
   color: #FFF;
   box-shadow: inset 0px -2px 0px #F5FF63;
   transition: all .2s ease;
 }
 .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
   outline: none;
 }
 .fa-camera-retro:before,
 .fa-sun-o:before,
 .fa-gears:before,
 .fa-cogs:before {
     padding-right: 5px;
 }
 .btn > div {
   margin-top: 7px;
 }


 /******************
  *  Intro tab
  *****************/
  .widget .widget-title {
    font-size: 1.5em;
    color: white;
    font-weight: bold;
  }
  .widget .widget-title .text-muted {
    font-size: 0.9em;
    color: gray;
    font-weight: normal;
  }

  .widget .widget-image {
    position: relative;
    width: 100%;
    height: 230px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 15px;
  }
  .widget-image-intro {
    background-image: url('../images/intro.png');
    background-position: center bottom;
  }
  .widget-image-inspire {
    background-image: url('../images/get-inspired.jpg');
    background-position: left top;
  }
  .widget .widget-image .widget-image-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 230px;
    background-color: rgba(0, 0, 0, .3);
    padding: 0px 15px;
  }
  .widget .widget-image .text-light a {
    color: white;
  }
  .widget .widget-image .text-light-op {
    color: #ccc;
  }
  .widget-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: .2em .8em;
    font-size: 4em;
    color: rgba(255,255,255,.5);
  }
  .widget-icon:hover {
    color: rgba(255,255,255,1);
    transition: color ease .2s; 
  }



 /******************
  *  Camera tab
  *****************/
  .rendering_block {
      margin: 10px;
  }
  .rendering_block > input {} .rendering_block > section {
      float: right;
      margin-right: 10px;
      width: 20px;
      clear: both;
  }
  .infoTableHeader {
      font-size: 1em;
  }
  .infoTable {
      margin-top: 15px;
      font-size: 15px;
  }
  .infoTable > .list-group-item > span {
      display: inline-block;
      float: right;
      font-family: 'Lato', sans-serif;
  }
  .infoTable > .list-group-item {
    background-color: transparent;
    color: #c3c3c3;
    padding: 5px 10px;
    border: 1px solid #222;
  }


 /******************
  *  Envirnment tab
  *****************/

  .nav > li > a {
      padding: 5px 18px;
  }
  .nav > li > a:focus,
  .nav > li > a:hover {
      background-color: transparent;
      border-bottom: initial;
  }

  /* Nav tabs */
 .nav-tabs {
     border-color: transparent;
     border-bottom: initial;
     margin-bottom: .5em;
 }
 .nav-tabs > li > a {
    color: #c6c6c6;
 }
 .nav-tabs > li > a:hover {
     border-color: transparent;
     border-bottom: 2px solid #FF1847;
 }
 .nav-tabs > li.active > a,
 .nav-tabs > li.active > a:focus,
 .nav-tabs > li.active > a:hover {
     background-color: transparent;
     color: #c6c6c6;
     border-color: transparent;
     border-bottom: 2px solid #FF1847;
 }
 .nav-tabs > li > a > span {
     margin-right: 5px;
 }


 /* checkbox */
 .checkbox {
     position: relative;
     margin-top: 5px;
 }
 .checkbox label {
     width: 20px;
     height: 20px;
     cursor: pointer;
     position: absolute;
     top: 0;
     left: 0;
     background: #222;
     border-radius: 2px;
 }
 .checkbox label:after {
     content: '';
     font-size: 16px;
     width: 12px;
     height: 8px;
     position: absolute;
     top: 4px;
     left: 4px;
     border: 2px solid #fcfff4;
     border-top: none;
     border-right: none;
     background: transparent;
     opacity: 0;
     -webkit-transform: rotate(-45deg);
     transform: rotate(-45deg);
 }
 .checkbox input[type=checkbox] {
     visibility: hidden;
 }
 .checkbox input[type=checkbox]:checked + label:after {
     opacity: 1;
 }

/* spectrum - fog color color picker*/
 .sp-container {
     width: 98%;
 }
 .sp-picker-container {
     width: 95%;
     margin-top: 10px;
 }

  /******************
   *  Debug tab
   *****************/





::-webkit-scrollbar {
    width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(56, 56, 56, 1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(56, 56, 56, 1);
}
